* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}




.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.header{
  /* border: 2px solid red; */
  height: 5%;
  width: 50%;

  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

input{
  height: 95%;
  width: 78%;
  padding: 10px;
  text-align: center;

  border-radius: 10px;
  background-color: hsla(0, 1%, 26%, 0.377);
  border: 0;
}

button{
  width: 18%;
}


.taskList{
  /* border: 2px solid black; */
  height: 60%;
  width: 50%;
  overflow: auto;

  display: flex;
  flex-direction: column;
  gap: 10px;
  /* flex-wrap: wrap; */

  /* padding: 20px; */
}

li{
  min-height: 100px;
  width: 100%;
  text-align: center;
  border-radius: 20px;
  /* border: 1px solid red; */

  background-color: hsla(0, 1%, 26%, 0.377);

}

.pink{
  background-color: pink;
  color: black;
  display: flex;
  text-align: center;
  justify-content: center;
}

.taskCard{
  min-height: 100px;
  width: 100%;
  text-align: center;
  border-radius: 20px;
  /* border: 1px solid red; */

  background-color: hsla(0, 1%, 26%, 0.377);

  display: flex;
}

.taskCardLeft{
  /* border: 2px solid red; */
  width: 90%;

  display: flex;
  align-items: center;
  justify-content: center;
}


.taskCardRight{
  height: 100%;
  width: 10%;
  background-color: brown;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;


  display: flex;
  align-items: center;
  justify-content: center;
}